@CHARSET "UTF-8";
/* ==========================================================================	#scContainer========================================================================== */#pjWrapper .scContainer {
	margin-top: 0;
 	padding-top: 10px;
 	color: #f1f2ed;
 }
 #pjWrapper .scContainer .form-control {
	color: #f1f2ed;
 }
 #pjWrapper .scContainer .form-control:focus {
	color: #fff;
 	-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .3);
 	box-shadow: 0 0 10px rgba(255, 255, 255, .3);
 }
 #pjWrapper .scContainer .panel {
	background: #222;		
 }
 #pjWrapper .scContainer .panel,#pjWrapper .scContainer .panel-heading,#pjWrapper .scContainer .panel-body,#pjWrapper .scContainer .panel-footer {
	border-color: #222;		
 }
 #pjWrapper .scContainer .panel-heading {
	background: #595758;		
 }
 #pjWrapper .scContainer .panel-body {
	background: #413f40;		
 }
 #pjWrapper .scContainer .panel-footer {
	background: #353334;		
 }
 #pjWrapper .scContainer .scSelectorSpin .btn-default {
	border-color: #222;
 	background: #353334;
 	color: #f1f2ed;
 }
 #pjWrapper .scContainer .scSelectorSpin .btn-default:hover {
	border-color: #222;
 	background: #353334;
 	color: #fff;
 }
 /* ==========================================================================	#pjScHeader========================================================================== */
 #pjWrapper .pjScHeader {
	border-color: #222;
 	background: #595758;	
 }
 #pjWrapper .pjScHeader .scStoreName,#pjWrapper .pjScHeader a {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScHeader .scStoreName:hover,#pjWrapper .pjScHeader a:hover {
	color: #fff;		
 }
 #pjWrapper .pjScHeader .active a,#pjWrapper .pjScHeader .dropdown.open .dropdown-toggle {
	background: #222;		
 }
 #pjWrapper .pjScHeader a .badge {
	background: #f1f2ed;
 	color: #1b191a;	
 }
 #pjWrapper .pjScHeader a:hover .badge {
	background: #fff;		
 }
 #pjWrapper .pjScHeader .dropdown-menu {
	background: #595758;		
 }
 #pjWrapper .pjScHeader .dropdown-menu a:hover {
	background: #222;		
 }
 /* ==========================================================================	#pjScBar========================================================================== */
 #pjWrapper .pjScBar .btn-default {
	border-color: #000;
 	background: #000;
 	color: #fff;
 }
 #pjWrapper .pjScBar .btn-default:hover {
	background: #565455;
 	color: #fff;	
 }
 #pjWrapper .pjScBar .btn-default .text-warning {
	color: #fff; /*Text of money in the cart*/		
 }
 #pjWrapper .pjScBar .btn-default:hover .text-warning {
	color: #fff;		
 }
 /* ==========================================================================	#pjScSort========================================================================== */
 #pjWrapper .pjScSort a {
	color: #000;
	background-color: #f1f2ed;
 }
 #pjWrapper .pjScSort a:hover {
	color: #fff;
	background: #595758;
 }
 #pjWrapper .pjScSort .active > a {
	background: #000;
 	color: #fff;
 }
 #pjWrapper .pjScSort .dropdown-menu a {
	color: #1b191a;
	background: #222;	
 }
 #pjWrapper .pjScSort .dropdown-menu a:hover {
	background: #222;
 	color: #f1f2ed;	
 }
 /* ==========================================================================	#breadcrumb========================================================================== */
 #pjWrapper .breadcrumb {
	background: none;		
 }
 #pjWrapper .breadcrumb a {
	color: #f1f2ed;		
 }
 #pjWrapper .breadcrumb a:hover {
	color: #fff;		
 }
 #pjWrapper .breadcrumb .active {
	color: #919191;		
 }
 /* ==========================================================================	#pjScProducts========================================================================== */
 #pjWrapper .pjScProduct a {
	color: #000;	/*text of product title*/
 }
 #pjWrapper .pjScProduct a:hover {
	color: #1b191a;
 }
 #pjWrapper .pjScProduct .pjScProductPrice {
	color: #000;
 	font-weight: bold;	
 }
 #pjWrapper .pjScBtnPrimary,#pjWrapper .pjScBtnSecondary {
	text-transform: uppercase;		
 }
 #pjWrapper .pjScBtnPrimary {
	border-color: #000;
 	background: #0f0d0e;
 	color: #fff;
 }
 #pjWrapper .pjScBtnPrimary:hover {
	color: #fff;
	background: #595758;
 }
 #pjWrapper .pjScEyeIcon.active,#pjWrapper .pjScEyeIcon:hover{
	color: #000;		
 }
 #pjWrapper .pjScBtnApply {
	border-color: #000;
 	background: #0f0d0e;
 	color: #fff;
 }
 #pjWrapper .pjScBtnApply:hover {
	border-color: #000;
 	background: #000;
 	color: #fff;
 }
 #pjWrapper .pjScBtnLink {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScBtnLink:hover {
	color: #fff;		
 }
 /* ==========================================================================	#Pagination========================================================================== */#pjWrapper .scSelectorPage {
	border-color: #0f0d0e;
 	background: #0f0d0e;
 	color: #f1f2ed;
 font-weight: bold;
 }
 #pjWrapper .scSelectorPage:hover,#pjWrapper .scPaginatorFocus {
	border-color: #000;
 	background: #000;
 	color: #f1f2ed;
 }
 #pjWrapper .scPaginatorFocus {
	color: #fff;		
 }
 /* ==========================================================================	#pjScProductDetails========================================================================== */#pjWrapper .pjScProductDetails {
	color: #919191;		
 }
 #pjWrapper .pjScProductDetails .pjScProductTitle {
	color: #000; /*color of texts and details*/		
 }
 #pjWrapper .pjScProductDetails .pjScProductPrice {
	color: #fff;		
 }
 #pjWrapper .pjScProductDetails label {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScProductDetails .panel-footer .btn {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScProductDetails .panel-footer .btn:focus,#pjWrapper .pjScProductDetails .panel-footer .btn:hover {
	color: #fff;		
 }
 #pjWrapper .pjScProductDetails .pjScProductDescriptionTitle {
	color: #f1f2ed;		
 }
 /* ==========================================================================	#pjScFavs========================================================================== */#pjWrapper .pjScFavs table,#pjWrapper .pjScFavs tr,#pjWrapper .pjScFavs th,#pjWrapper .pjScFavs td {
	border-color: #222;
 	color: #f1f2ed;	
 }
 #pjWrapper .pjScFavs tr {
	background: #565455;		
 }
 #pjWrapper .pjScFavsTitle {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScFavs a {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScFavs a:hover {
	color: #fff;		
 }
 #pjWrapper .pjScFavsProductPrice {
	color: #fff;		
 }
 /* ==========================================================================	#pjScLogReg========================================================================== */#pjWrapper .pjScLogReg {
	color: #919191;		
 }
 #pjWrapper .pjScLogRegTitle {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScLogReg label {
	color: #919191;		
 }
 #pjWrapper .pjScLogReg .input-group-addon {
	border-color: #222;
 	background: #353334;
 	color: #f1f2ed;
 }
 #pjWrapper .pjScLogReg .has-error label {
	color: #a94442;		
 }
 /* ==========================================================================	#pjScCart========================================================================== */#pjWrapper .pjScCart {
	color: #919191;		
 }
 #pjWrapper .pjScCartTitle {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScCart a {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScCart a:hover {
	color: #fff;		
 }
 #pjWrapper .pjScCart table,#pjWrapper .pjScCart tr,#pjWrapper .pjScCart th,#pjWrapper .pjScCart td {
	border-color: #222;
 	color: #f1f2ed;	
 }
 #pjWrapper .pjScCart tr {
	background: #565455;		
 }
 #pjWrapper .pjScCart tr:nth-of-type(2n+1) {
	background: #353334;		
 }
 #pjWrapper .pjScCart th {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScCartPrice {
	color: #fff;		
 }
 /* ==========================================================================	#pjScCheckout========================================================================== */#pjWrapper .pjScCheckout,#pjWrapper .pjScCheckout .text-muted {
	color: #919191;		
 }
 #pjWrapper .pjScCheckout .pjScCheckoutTitle {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScCheckout label {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScCheckout .checkbox label {
	color: #fff;		
 }
 #pjWrapper .pjScCheckout .has-error label,#pjWrapper .pjScCheckout .checkbox label.has-error,#pjWrapper .pjScCheckout .checkbox label.error {
	color: #a94442;		
 }
 #pjWrapper .pjScCheckout .pjScCheckoutPrice {
	color: #fff;		
 }
 /* ==========================================================================	#pjScPreviewOrder========================================================================== */#pjWrapper .pjScPreviewOrder,#pjWrapper .pjScPreviewOrder .text-muted {
	color: #919191;		
 }
 #pjWrapper .pjScPreviewOrder label {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScPreviewOrder .panel-default > .panel-heading,#pjWrapper .pjScPreviewOrder .pjScProductPriceTitle,#pjWrapper .pjScPreviewTitle {
	color: #f1f2ed;		
 }
 #pjWrapper .pjScPreviewOrder .pjScCheckoutPrice {
	color: #fff;		
 }
#searchBar{
	padding-top: 15px;
}
#pjWrapper .pjScBtnSecondary {
	border-color: #000;
 	background: #000;
 	color: #fff;
 }
 #pjWrapper .pjScBtnSecondary:hover {
	color: #fff;
	background: #595758;
 }